$bkgd-clr: #579c87;

body
{
	margin: 0;
}

.soon
{
	color: #fdcb46;
	background-color: $bkgd-clr;
	font-family: 'Rubik', sans-serif;
	font-size: 2.5em;
	width: 400px;
	height: 70px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin: 80px auto 120px auto;
}

.tsoon
{
	margin-left: 45px;
}

.soon:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: points steps(4,end) 1500ms infinite;
  content: "...";
  width: 0px;
}

@keyframes points {
  to {
    width: 40px;    
  }
}

.t-mentions
{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border: 1px solid black;
}

.text
{
	margin: 10px 5px 10px 5px;
}

.article
{
	font-weight: bold; 
}
